@use '../../styles/' as *;

.movies__container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(364px, 1fr));
  gap: 37px 24px;
  padding-top: 70px;

  @include media-q($breakpoint-medium) {
    grid-template-columns: repeat(auto-fit, minmax(339px, 1fr));
    gap: 30px;
  }
  @include media-q($breakpoint-small) {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
    padding-top: 40px;
  }
}

.movies__button {
  @include btn-reset;
  margin-top: 60px;
  width: 100%;
  padding: 10px 0;
  background-color: $background-gray-light-color;
  border-radius: 6px;
  font-size: $fs-small-2;
  font-weight: $fw-medium;
  line-height: $base-line-height;

  @include media-q($breakpoint-medium) {
    margin-top: 80px;
  }
  @include media-q($breakpoint-small) {
    margin-top: 76px;
  }
}

.movies__button_hidden {
  display: none;
}