@use '../../styles/' as *;

.movies__card {
  max-width: 364px;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;

  @include media-q($breakpoint-medium) {
    max-width: 339px;
  }
  @include media-q($breakpoint-small) {
    max-width: 300px;
  }
}

.movies__card-content {
  display: flex;
  justify-content: space-between;
  padding: 9px 16px 16px 16px;

  @include media-q($breakpoint-medium) {
    padding: 8px 14px 14px 14px;
  }
  @include media-q($breakpoint-small) {
    padding: 7px 10px 14px 14px;
  }
}

.movies__card-image {
  aspect-ratio: 16/9;
  width: 364px;
  height: 203px;

  @include media-q($breakpoint-medium) {
    width: 339px;
    height: 190px;
  }
  @include media-q($breakpoint-small) {
    width: 300px;
    height: 168px;
  }
}

.movies__card-text-area {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  gap: 17px;

  @include media-q($breakpoint-medium) {
    gap: 15px;
  }
  @include media-q($breakpoint-small) {
    gap: 14px;
  }
}

.movies__card-title {
  @include text-reset;
  font-size: $fs-small-3;
  font-weight: $fw-medium;
  line-height: $base-line-height;
  text-overflow: ellipsis;
  padding-top: 7px;

  @include media-q($breakpoint-medium) {
    padding-top: 6px;
  }
  @include media-q($breakpoint-small) {
    padding-top: 7px;
    font-size: $fs-small-2;
  }
}

.movies__card-text {
  @include text-reset;
  font-size: $fs-small-1;
  line-height: $base-line-height;
  color: $secondary-color;

  @include media-q($breakpoint-small) {
    font-size: $fs-small-0;
  }
}

.movies__card-like-button {
  @include btn-reset;
  background: url('../../images/like-icon-min.svg') no-repeat;
  width: 100%;
  max-width: 30px;
  height: 30px;
}

.movies__card-like-button_active {
  background: url('../../images/like-active-icon-min.svg') no-repeat;
}

.movies__card-delete-button {
  @include btn-reset;
  background: url('../../images/delete-icon-min.svg') no-repeat;
  width: 100%;
  max-width: 30px;
  height: 30px;
}