@use '../../styles/' as *;

.movies {
  padding-bottom: 80px;
}

.movies__button {
  @include btn-reset;
  margin-top: 60px;
  width: 100%;
  padding: 10px 0;
  background-color: $background-gray-light-color;
  border-radius: 6px;
  font-size: $fs-small-2;
  font-weight: $fw-medium;
  line-height: $base-line-height;

  @include media-q($breakpoint-medium) {
    margin-top: 80px;
  }
  @include media-q($breakpoint-small) {
    margin-top: 76px;
  }
}

.movies__result-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: $fw-medium;
  font-size: $fs-primary;
  text-align: center;

  @include media-q($breakpoint-medium) {
    font-size: $fs-small-3;
  }
  @include media-q($breakpoint-small) {
    font-size: $fs-small-2;
  }
}