@use '../../styles/' as *;

.promo {
  background-color: $background-gray-color;
  padding: 75px 0;

  @include media-q($breakpoint-medium) {
    padding: 140px 0 76px 0;
  }

  @include media-q($breakpoint-small) {
    padding: 70px 0 30px 0;
  }
}

.promo__container {
  display: flex;
  gap: 190px;
  margin-bottom: 84px;

  @include media-q($breakpoint-large) {
    gap: 5%;
  }

  @include media-q($breakpoint-medium) {
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 92px;
  }

  @include media-q($breakpoint-small) {
    margin-bottom: 80px;
  }
}

.promo__text-container {
  display: flex;
  flex-direction: column;
  gap: 36px;

  @include media-q($breakpoint-medium) {
    align-items: center;
    text-align: center;
    gap: 22px;
    margin-top: 48px;
  }

  @include media-q($breakpoint-small) {
    gap: 24px;
    margin-top: 44px;
  }
}

.promo__title {
  @include text-reset;
  max-width: 640px;
  font-size: $fs-main-title;

  @include media-q($breakpoint-medium) {
    font-size: $fs-main-title-medium;
  }

  @include media-q($breakpoint-small) {
    font-size: $fs-main-title-small;
  }

}

.promo__text {
  @include text-reset;
  max-width: 310px;
  font-size: $fs-small-3;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.promo__logo {
  max-width: 310px;
  height: 304px;

  @include media-q($breakpoint-small) {
    max-width: 210;
    height: 206px;
  }
}

.promo__about-button {
  @include btn-reset;
  display: block;
  padding: 10px 20px;
  opacity: 0.6;
  border: 1px solid #000000;
  border-radius: 3px;
  font-weight: $fw-medium;
  font-size: $fs-small-2;
  line-height: $base-line-height * 1.101;

  @include media-q($breakpoint-medium) {
    margin: 0 auto;
  }
}