@mixin media-q($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin btn-reset() {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@mixin text-reset() {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

@mixin list-reset() {
  @include text-reset;
  list-style-type: none;
}

@mixin link-reset() {
  text-decoration: none;
  color: inherit;
}

@mixin intro-section-title() {
  @include text-reset;
  display: block;
  position: relative;

  &:after {
    content: '';
    position: absolute;
    margin-top: 23px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #000000;
  }
}