$primary-color: #3456F3;
$secondary-color: #A0A0A0;
$reaction-color: #EE3465;
$background-gray-color: #DDDEE3;
$background-gray-light-color: #F5F5F5;

$fw-regular: 400;
$fw-medium: 500;

$fs-small-0: 0.72rem; //10
$fs-small-1: 0.785rem; //11
$fs-small-2: 0.85rem; //12
$fs-small-3: 0.93rem; //13
$fs-primary: 1rem; //14
$fs-medium: 1.285rem; //18
$fs-title: 1.72rem; //24
$fs-main-title-small: 2.15rem; //30
$fs-main-title-medium: 2.85rem; //40
$fs-main-title: 3.575rem; //50
$fs-404-small: 5.72rem; //80
$fs-404: 10rem; //140

$base-line-height: 1.21;

$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1280px;