@use '../../styles/' as *;

.header {
  min-height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_theme_gray {
  background-color: $background-gray-color;
}

.header__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  @include list-reset;
  display: flex;
}

.header__movies-links {
  display: flex;
  gap: 20px;
  margin-right: 50px;
}

.header__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__item_account {
  display: flex;
  gap: 17px;
  cursor: pointer;
}

.header__movies-button {
  @include link-reset;

}

.header__saved-movies-button {
  @include link-reset;

}

.header__profile-button {
  @include link-reset;
  
}

.header__register-button {
  @include link-button;
  font-weight: $fw-medium;
  font-size: $fs-small-2;
  margin-right: 30px;
  line-height: $base-line-height * 1.101;
  min-height: 32px;
  
  @include media-q($breakpoint-small) {
    margin-right: 14px;
    font-size: $fs-small-0;
  }
}

.header__login-button {
  @include link-button;
  color: #ffffff;
  padding: 8px 20px;
  background: #3456F3;
  border-radius: 3px;
  font-weight: $fw-medium;
  font-size: $fs-small-2;
  line-height: $base-line-height * 1.101;

  @include media-q($breakpoint-small) {
    padding: 5px 12px;
    font-size: $fs-small-0;
  }
}