@use '../../styles/' as *;

.about-project {
  padding: 110px 0;

  @include media-q($breakpoint-medium) {
    padding: 90px 0;
  }
  @include media-q($breakpoint-small) {
    padding: 70px 0;
  }
}

.about-project__title {
  @include intro-section-title;
  font-size: $fs-title * 0.92;
}

.about-project__container {
  display: flex;
  flex-direction: column;
  gap: 110px;
  margin-top: 94px;

  @include media-q($breakpoint-medium) {
    gap: 93px;
  }

  @include media-q($breakpoint-small) {
    margin-top: 89px;
    gap: 60px;
  }
}

.about-project__info-area {
  display: flex;
  gap: 40px;

  @include media-q($breakpoint-medium) {
    gap: 30px;
  }

  @include media-q($breakpoint-medium) {
    gap: 56px;
    flex-direction: column;
  }
}

.about-project__info-box {
  display: flex;
  flex-direction: column;
  gap: 26px;

  @include media-q($breakpoint-medium) {
    gap: 22px;
  }

  @include media-q($breakpoint-small) {
    gap: 16px;
  }
}

.about-project__info-title {
  @include text-reset;
  letter-spacing: -0.04em;
  font-size: $fs-medium * 1.12;
  line-height: $base-line-height;
}

.about-project__info-text {
  @include text-reset;
  font-size: $fs-primary;
  line-height: $base-line-height * 1.19;

  @include media-q($breakpoint-medium) {
    font-size: $fs-small-2;
  }

  @include media-q($breakpoint-small) {
    font-size: $fs-small-1;
  }
}

.about-project__schedule {
  display: flex;
}

.about-project__schedule-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: 30%;
}

.about-project__schedule-time_connected {
  width: 70%;
}

.about-project__schedule-time-text {
  @include text-reset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 36px;
  background-color: $primary-color;
  font-size: $fs-primary;
  line-height: $base-line-height;
  color: #ffffff;
}

.about-project__schedule-time-text_theme_gray {
  background-color: $secondary-color;
  color: #000000;
}

.about-project__schedule-time-subtext {
  @include text-reset;
  font-size: $fs-primary;
  font-weight: $fw-medium;
  line-height: $base-line-height;
  color: $secondary-color;
}