// @import-normalize;
@import './styles/fonts';
@import './styles/variables';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  display: flex;

  background-color: #ffffff;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: $fw-regular;
  color: #000000;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

#root {
  width: 100%;
}

.App {
  max-width: 1280px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}